<div data-controller="commit-tags" data-commit-tags-request="<%= @request_id %>">
  <h1 class="title">Latest Rails Tags</h1>
  <div data-target="commit-tags.tags">
    <div class="columns">
      <div class="column">
        Refreshing Tags...
        <svg width="44px" height="44px" viewBox="0 0 44 44" class="spinner show">
          <circle fill="none" stroke-width="4" stroke-linecap="round" cx="22" cy="22" r="20" class="path">
          </circle>
        </svg>
      </div>
    </div>
  </div>
</div>